body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    /* background: #C33764;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #1D2671, #C33764);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #1D2671, #C33764); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(lightblue,blue,lightblue);
    
    
    
}
nav{
    /* position: fixed;
    top: 0; */
    background: linear-gradient(blue,black);
    width:100%;
    height:fit-content;
    margin-bottom: 15px;
}
main{
    width:100%;
    /* margin:80px 0; */
}
.navLinks{
    padding:0;
    margin:0;
    list-style:none;
    height: fit-content;
    width:fit-content;
    overflow: hidden;
    padding:5px 0;
    margin:0 auto;
}
.navLinks>li{
    float: left;
    margin:0 50px;
    /* background-color:red; */
    padding:15px 0;
}

.navLinks>li>a{
    text-decoration: none;
    font-size: 1.5em;
    color:white;
}
.navLinks>li>a:hover{
    color:blue;
    background:white;
    padding:15px 5px;
}
.unitOneTitle:hover {
    cursor: pointer;
    color:red;
}
.unitTwoTitle:hover {
    cursor: pointer;
    color:red;
} 

.subjects{
    box-sizing: border-box;
    width:fit-content;
    min-width: 500px;
    margin:0 auto;
    margin-bottom: 20px;
    border:darkblue 5px solid;
    border-radius: 20px;
    padding:20px;
    background-color: white;
    /* background: -webkit-linear-gradient(to right, rgba(29,38,113,0), rgba(195,55,100,0));    */
    /* background: linear-gradient(to right, rgba(29,38,113), rgba(195,55,100,0);  */
}
.physics{
    margin-bottom:30px;
}
.subjectTitle{
    width:fit-content;
    margin:10px auto;
    font-size:2.5em;
    padding:10px 20px;;
    border-radius: 20px;
    /* background-color:blue; */
    background: linear-gradient(blue,rgb(0-0-205));
    color:white;
}
.subjectTitle:hover{
    cursor: pointer;
}
.unitList{
    width:fit-content;
    /* margin:0 auto; */
}

.topicTitle{
    font-size:1.7em;
    /* background-color: orange; */
}
.unitTopics{
    display: none;
    font-size:1.3em;
    padding:0 20px;
    
}

.maths>.subjectTitle{
    background-color: red;
}

.subjects ul{
    list-style: none;
}
.topicTitle{
    background: linear-gradient(blue 50%, darkblue);
    width:fit-content;
    border-radius:20px;
    padding: 5px 10px;
    color:white;
}
.topicTitle:hover{
    cursor: pointer;
}
.unitTopics>li{
    width:fit-content;
    background:linear-gradient(rgb(30,144,255) ,blue );
    color:white;
    font-size:1.1em;
    padding:5px 10px;
    border-radius: 10px;
    margin:5px 0;
}

footer{
    width:100%;
    /* position: absolute;
    left: 0;
    bottom:0;  */
    background: linear-gradient(blue,black);
    padding:30px 0;
}
.footerContent p{
    color:white;
    margin:auto 20px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
main{
    flex: 1;
  }